# Set default behaviour in case users don't have core.autocrlf set
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.atom     text
*.css      text
*.js       text
*.json     text
*.html     text
*.md       text
*.markdown text
*.svg      text
*.textile  text
*.txt      text
*.xml      text
*.yml      text

# These files should be treated as binary (-text -diff)
*.eot      binary
*.ico      binary
*.gif      binary
*.jpeg     binary
*.jpg      binary
*.png      binary
*.ttf      binary
*.woff     binary
