# Set default behaviour in case users don't have core.autocrlf set
* text=auto

# These files are text and should be normalized (convert crlf => lf)
*.js      text
*.css     text
*.html    text
*.md      text
*.yml     text

# Images should be treated as binary
# (binary is a macro for -text -diff)
*.png     binary
*.jpeg    binary
*.jpg     binary
*.gif     binary
