        <!-- FAVICONS -->
        <link rel="icon" href="/favicon.ico?v1.0" type="image/vnd.microsoft.icon" sizes="16x16 24x24 32x32">
        <link rel="icon" href="{{ site.assets_host }}/favicons/bc610c60.favicon48.png" type="image/png" sizes="48x48">
        <link rel="icon" href="{{ site.assets_host }}/favicons/edf67d7b.favicon64.png" type="image/png" sizes="64x64">
        <link rel="icon" href="{{ site.assets_host }}/favicons/792903d7.favicon128.png" type="image/png" sizes="128x128">
        <!-- /FAVICONS -->
