        <!-- OPEN_GRAPH -->
        <meta property="og:title" content="{{ page.title }}">
        <meta property="og:description" content="{{ page.description }}">
        <meta property="og:url" content="{{ site.url }}{{ page.url }}">
        <meta property="og:site_name" content="{{ site.title }}">
        <meta property="og:locale" content="es_ES">
        <meta property="og:image" content="{{ site.assets_host | prepend: 'http:' }}/img/articulos/{{ page.img_168_140 }}">
        <meta property="og:type" content="article">
        <meta property="article:author" content="https://www.facebook.com/miquecg">
        <!-- /OPEN_GRAPH -->
