            <nav id="menu" role="navigation">
                <a href="/articulos/" class="boton link-menu texto-fuera-barra-sup transicion{% if page.url == '/articulos/index.html' or page.url contains '/pag/' %} activo{% endif %}" tabindex="10">Artículos</a><!--
                --><a href="/sobre-mi/" rel="author" class="boton link-menu texto-fuera-barra-sup transicion{% if page.url == '/sobre-mi/' %} activo{% endif %}" tabindex="10">Sobre mí</a><!--
                --><a href="/suscribirse/" class="boton link-menu tercero texto-fuera-barra-sup transicion{% if page.url == '/suscribirse/' %} activo{% endif %}" tabindex="10">Suscribirse</a><!--
                --><a href="#" class="boton link-menu cuarto texto-fuera-barra-sup transicion" aria-hidden="true" tabindex="-1">Subir</a>
            </nav>
